<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guadou.kt_demo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".DemoMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo.demo1_activity_fragment_placeholder.activity.Demo1Activity" />
        <activity android:name=".demo.demo16_record.JavaCallKTActivity" />
        <activity android:name=".demo.demo16_record.SoftInputActivity" />
        <activity android:name=".demo.demo16_record.viewpager.ViewPagerNestActivity" />
        <activity android:name=".demo.demo16_record.list.SequencesActivity" />
        <activity android:name=".demo.demo7_imageload_glide.RoundLayoutActivity" />
        <activity android:name=".demo.demo1_activity_fragment_placeholder.activity.NormalLoadingActivity" />
        <activity android:name=".demo.demo1_activity_fragment_placeholder.activity.JumpLoadingActivity" />
        <activity android:name=".demo.demo1_activity_fragment_placeholder.activity.PlaceHolderLoadingActivity" />
        <activity android:name=".demo.demo1_activity_fragment_placeholder.activity.EmptyFragmentActivity" />
        <activity android:name=".demo.demo2_viewpager_lazyfragment.Demo2Activity" />
        <activity android:name=".demo.demo2_viewpager_lazyfragment.Demo2Pager2Activity" />
        <activity
            android:name=".demo.demo3_bottomtabbar_fragment.Demo3Activity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="showDialog" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ktdemo"
                    android:path="/demo3"
                    android:scheme="android" />

            </intent-filter>
        </activity>
        <activity android:name=".demo.demo17_softinput.Demo17SoftInputActivity" />
        <activity
            android:name=".demo.demo17_softinput.SoftInputLayoutActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".demo.demo17_softinput.SoftInputScrollActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".demo.demo17_softinput.SoftInputListActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".demo.demo17_softinput.SoftInputMomentActivity" />
        <activity android:name=".demo.demo16_record.lazy.PropertyLazyActivity" />
        <activity android:name=".demo.demo4_popup_banner_statusbar.Demo4Activity" />
        <activity android:name=".demo.demo2_viewpager_lazyfragment.lazy2.DemoLazy2Activity" />
        <activity android:name=".demo.demo11_fragment_navigation.nav2.DemoNav2Activity" />
        <activity android:name=".demo.demo8_recyclerview.scroll8.Scroll8Activity" />
        <activity android:name=".demo.demo8_recyclerview.scroll9.Scroll9Activity" />
        <activity android:name=".demo.demo8_recyclerview.scroll10.Scroll10Activity" />
        <activity android:name=".demo.demo8_recyclerview.scroll11.Scroll11Activity" />
        <activity android:name=".demo.demo10_date_span_sp_acache_hilt.Demo10DIActivity" />
        <activity android:name=".demo.demo8_recyclerview.scroll12.Scroll12Activity" />
        <activity android:name=".demo.demo8_recyclerview.scroll13.Scroll13Activity" />
        <activity android:name=".demo.demo8_recyclerview.scroll14.Scroll14Activity" />
        <activity android:name=".demo.demo13_motionlayout.Demo13AppbarActivity" />
        <activity android:name=".demo.demo13_motionlayout.Demo13ViewPagerActivity" />
        <activity android:name=".demo.demo16_record.Demo16AutoSizeActivity" />
        <activity android:name=".demo.demo13_motionlayout.Demo13Cons01Activity" />
        <activity android:name=".demo.demo13_motionlayout.Demo13Dianjiu01Activity" />
        <activity android:name=".demo.demo4_popup_banner_statusbar.banner.DemoBannerActivity" />
        <activity android:name=".demo.demo16_record.Demo16RecordActivity" />
        <activity android:name=".demo.demo4_popup_banner_statusbar.popup.DemoXPopupActivity" />
        <activity android:name=".demo.demo4_popup_banner_statusbar.popup.DemoImagePreviewActivity" />
        <activity android:name=".demo.demo5_network_request.Demo5Activity" />
        <activity android:name=".demo.demo6_imageselect_premision_rvgird.Demo6Activity" />
        <activity android:name=".demo.demo7_imageload_glide.Demo7Activity" />
        <activity android:name=".demo.demo8_recyclerview.Demo8Activity" />
        <activity android:name=".demo.demo8_recyclerview.rv1.DemoRVNormalVertalActivity" />
        <activity android:name=".demo.demo8_recyclerview.rv2.DemoRVNormalGridActivity" />
        <activity android:name=".demo.demo8_recyclerview.rv3.DemoRVHeadFoodVertalActivity" />
        <activity android:name=".demo.demo8_recyclerview.rv4.DemoRVMobanActivity" />
        <activity android:name=".demo.demo8_recyclerview.rv5.DemoRVMuliteActivity" />
        <activity android:name=".demo.demo8_recyclerview.rv6.DemoRVDiffActivity" />
        <activity android:name=".demo.demo9_ktfollow.DemoCountDwonActivity" />
        <activity android:name=".demo.demo10_date_span_sp_acache_hilt.Demo10Activity" />
        <activity android:name=".demo.demo8_recyclerview.rv7.DemoMyDiffActivity"/>
        <activity android:name=".demo.demo10_date_span_sp_acache_hilt.DemoSpanActivity" />
        <activity android:name=".demo.demo8_recyclerview.rv8.CustomRV1Activity" />
        <activity android:name=".demo.demo18_customview.Demo18CustomViewActivity" />
        <activity android:name=".demo.demo18_customview.circleView.DemoCircleViewActivity" />
        <activity android:name=".demo.demo18_customview.temperature.TemperatureViewActivity" />
        <activity android:name=".demo.demo18_customview.star.StarScoreViewActivity" />
        <activity android:name=".demo.demo4_popup_banner_statusbar.statusbars.HostNormalStatusActivity" />
        <activity android:name=".demo.demo4_popup_banner_statusbar.statusbars.HostImmersiveStatusActivity" />
        <activity android:name=".demo.demo4_popup_banner_statusbar.statusbars.HostScrollStatusActivity" />
        <activity
            android:name=".demo.demo11_fragment_navigation.Demo11Activity"
            android:exported="false"
            android:launchMode="singleTask">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="demo11" />

            </intent-filter>
        </activity>
        <activity android:name=".demo.demo12_databinding_texing.Demo12Activity" />
        <activity android:name=".demo.demo13_motionlayout.Demo13MotionActivity" />
        <activity android:name=".demo.demo13_motionlayout.Demo13JavaActivity" />
        <activity android:name=".demo.demo13_motionlayout.Demo13XmlActivity" />
        <activity android:name=".demo.demo14_mvi.mvi.Demo14Activity" />
        <activity android:name=".demo.demo15_aidl.Demo15OptionActivity" />
        <activity android:name=".demo.demo15_aidl.service1.Service1Activity" />
        <activity android:name=".demo.demo15_aidl.service2.Service2Activity" />
        <activity android:name=".demo.demo15_aidl.service3.Service3Activity" />
        <activity android:name=".demo.demo3_bottomtabbar_fragment.LoginDemoActivity" />
        <activity android:name=".demo.demo3_bottomtabbar_fragment.ProfileDemoActivity" />
        <activity android:name=".demo.demo7_imageload_glide.RoundImageActivity" />
        <activity android:name=".demo.demo18_customview.range.RangeViewActivity" />

        <service android:name=".demo.demo15_aidl.service1.MyService1" />
        <service
            android:name=".demo.demo15_aidl.service2.MyService2"
            android:exported="false"
            android:process=":test" />
        <service
            android:name=".demo.demo15_aidl.service3.MyService3"
            android:exported="false"
            android:process=":test" />

        <receiver android:name=".demo.demo9_ktfollow.AlarmReceiver" />
        <service android:name=".demo.demo16_record.LocationService" />

        <provider
            android:name=".demo.demo15_aidl.provider.MyFileProvider"
            android:authorities="com.guadou.kt_demo.fileprovider"
            android:exported="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path">

            </meta-data>
        </provider>

        <provider
            android:name=".demo.demo15_aidl.provider.SharedFileProvider"
            android:authorities="com.guadou.kt_demo.shared.fileprovider"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>